.nfs*
.[0-9]*
output
reports*
const
work
logs
Milkyway.log*
Milkyway.cmd*
*.log
*.svf
*.txt
*.mw
*.mr
*.pvl
*.syn
*.dlib
*.ndm
*.ems
alib-52
PreFrameCheck
clog*
feas_cell_history
feas_cell_history.*
snapshot
net.acts
